* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
:root {
    /* button fonts/default/5-warning font style 
    --button-font-size: 30px;
    --button-line-height: 14px;
    --button-text-align: center;
    --button-color: #f0ad4e;
    --button-letter-spacing: 0.2px;
    --button-font-style: normal;
    --button-font-weight: 400;
    --button-font-family: "Roboto";
    
    --button:  
        var(--button-font-style)
        var(--button-font-weight)
        var(--button-font-size)/
        var(--button-line-height)
        var(--button-font-family);
    }
    .warning {
      font:var(--button);
      color: var(--button-color);
      letter-spacing: var(--button-letter-spacing);
      text-align:var(--button-text-align);
    } */

:root {
    /* colors */
    --main-color: #E7181C;
    --color-secondary: #F07577;
    --color-secondary-lightestred: #F17477;
    --gradient: linear-gradient(to right, #E7181C 66.4%, #F07577 96.78%); 
    --bg-white: #FAFBFF;
    --color-black: #272221;
    /* shadows */
    --shadow1: -10px -10px 20px var(--bg-white);
    --shadow2: 5px 5px 20px rgba(166, 171, 189, 0.8);
    /* --neumorphic */

    --neumorphic:
        var(--shadow1)
        var(--shadow2);
}

body {
    /* position: relative; */
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-white);
}

html, body {
    /* default values for mobile */
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}

.background1 {
    width: 114vh; 
    position: absolute;
    right: 0;
    opacity: 0.7;
    z-index: -1;
    object-fit: cover;
    object-position: 54vw 0;
}

.maincontainer {
    /* display: grid; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* LOGO */

.brand {
    display: block;
    width: min-content;
    height: min-content;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* NAV BAR DESKTOP*/

header.menuDesktop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    height: 130px;
    align-items: center;
    z-index: 3;
    transition: all 0.5s ease-in;
}

header .brand img {
    height: 17vw;
    max-height: 85px;
    margin-bottom: -23%;
    margin-top: -6px;
}

/* class ready to inject with JS (classlist add scroll) */
header.reduced {
    height: 50px;
    background: rgba(0,0,0,.007);
    backdrop-filter: blur(5px);
}

/* NAV BAR */

header ul {
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
    margin: 0 20px;
    height: 50%;
    margin-left: 5%;
    width: 70%;
}

ul li{
    width: 150px;
    text-align: center;
    padding-bottom: 20px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.08em;
}

a:hover {
    /* font-size: 1.1em; */
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in;
}

.download {
    appearance: none;
    -webkit-appearance: none;
    width: 90%;
    padding: 1px 40px;
    font-family: 'Poppins';
    font-size: 1em;
    font-weight: 500;
    border-radius: 7px;
    color: white;
    background: radial-gradient(farthest-corner at -59px -48px,#E7181C 66.4%, #F07577 96.78%);
    cursor: pointer;
    border: none;
}

.download:hover {
    background: var(--bg-white);
    box-shadow: -10px -10px 20px var(--bg-white), 5px 5px 20px rgba(166, 171, 189, 0.8);
    color: var(--main-color);
    transition: all 0.2s ease;
}

.download .active {
    background: var(--bg-white);
    box-shadow: -10px -10px 20px var(--bg-white), 5px 5px 20px rgba(166, 171, 189, 0.8);
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    transition: all 0.2s ease;
    border: 1px solid var(--main-color);
}

.activelinks { 
    /* añadir posteriormente en js la clase cuando este activo, addeventlistener click */
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
    transition: border-bottom 0.3s ease-in;
}

.activelinks a {
    color:var(--main-color);
}

/* HAMBURGER NAV FOR MOBILE DEVICES */

.hamburger {
    display: block;
    width: 70px;
    height: 70px;
    color: var(--main-color);
    position: fixed;
    left: 0;
    top: 50px;
    z-index: 0;
    /* MOBILE ANTES DE COGER LA IDEA. CAMBIAR Y MEZCLAR */
}  

header.menuMobile {
	display: flex;
    justify-content: space-between;
    align-items: center;
	position: fixed;
    left: 0;
	z-index: 2;
    width: 100vw;
	height: 60px;
    padding: 10px;
} 

header.menuMobile .brandName p {
    font-size: 1.3em;
    font-weight: 700;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.open {
	display: flex;
    flex-direction: column;
    background-color: transparent;
	width: 35px;
	height: max-content;
	padding: 3px 0;
    cursor: pointer;
}

.open span {
	display: block;
	height: 4px;
	width: 80%;
	text-align: center;
    border-radius: 10px;
	background-color: var(--main-color);
	margin: 2px auto;
}

.hamburger {
	width: 100%;
	height: 100vh;
	position: absolute;
	background-color: var(--color-secondary);
	flex-direction: column;
	opacity: 0.8;
	display: none;
}

.hamburger ul {
	display: block;
	text-align: center;
}

.hamburger li:not(:first-child) {
	margin-top: 40px;
}

.hamburger a {
	color: rgba(255, 255, 255, 0.7);
	font-size: 3em;
	padding: 20px 40px;
	transition: all .3s;
}

.close {
	display: block;
	appearance: none;
	-webkit-appearance: none;
	border: none;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.7);
	font-size: 2em;
    font-weight: 400;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	transition: all .3s;
}

.close:hover {
	color: white;
}

/* REVISAR ESTA REGLA
.desplegado {
	display: flex;
} */

.blur {
	filter: blur(4px);
}

/* LANGUAGE SETTINGS */

.language {
    padding: 5px 15px;
    position: fixed;
    right: 38px;
    top: 10px;
    font-family: 'Poppins';
    font-size: 0.7em;
    font-weight: 300;
    border-radius: 16px;
    color: var(--main-color);
    background: var(--bg-white);
    cursor: pointer;
    border: 1px solid var(--main-color);
}

.language:hover {
    box-shadow: -10px -10px 20px var(--bg-white), 5px 5px 20px rgba(166, 171, 189, 0.8);
    /* background: linear-gradient(to right, #E7181C 66.4%, #F07577 96.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    transition: all 0.2s ease-in;
    border: none;
}

/* BUTTON TO SCROLL */

.button-scroll {
    display: none;
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    position: fixed;
    right: 20px;
    top: calc(100vh - 320px);
    cursor: pointer;
}

/* CONTENT SECTION #1*/
section {
    width: 100vw;
    height: 100vh;
}
/* First, the general values for all the sections in the document */

#home {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 20% 65% 15%;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 1;
    position: relative;
    top: 32%;
}

.home-text h1 {
    position: relative;
    line-height: 4vh;
    text-align: center;
    z-index: 1;
}

h1 .gradient-text {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10vw;
    
}

section p {
    width: 100%;
    font-size: 5vw;
    color: var(--color-secondary);
    text-align: center;
}

/* .home-text p,h1{
    grid-column: 2 / 3;
    grid-row: 1;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 10%;
    align-content: space-between;
    align-items: center; /* added this to align text, image and button
} */

.home-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-column: 2 / 3;
    position: relative;
    bottom: 0;
}

.home-img img {
    max-height: 110vw;
    margin-bottom: -20%;
    position: relative;
    /* positioning the img element without breaking the normal flow */
    left: 25%;
    z-index: 1;
}
.markets {
    display: flex;
    justify-content: center;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}

.markets-img {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    padding: 5% 5%;
}

.markets img {
    /* box-shadow: -10px -10px 20px var(--bg-white), 5px 5px 20px rgba(166, 171, 189, 0.8); */
    filter: drop-shadow(2px 4px 10px rgba(166, 171, 189, 0.8));
    height: 10vw; /* TODO ADD MEDIA QUERY BP FOR THIS */
    max-width: 120px;
    border-radius: 7px;
}

.markets p {
    display: none;
}

#CTAhome {
    box-shadow: -10px -10px 20px var(--bg-white), 5px 5px 20px rgba(166, 171, 189, 0.8);
    position: relative;
    /* width: 35vw;
    max-width: 40vw; */
    font-size: 5vw;
    z-index: 2;
}

.social-networks {
    display: flex;
    grid-column: 1;
    grid-row: 2 / 3;
    /* height: initial -> 280px / After -> auto, cause fits better with its grid cell*/
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    left: 60%;}

.social-networks button {
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    cursor: pointer;
}

.social-networks button img {
    width: 8vw;     /* TO DO, CHECK THIS IN MQ */
    max-width: 36px;
}

/* SCROLL PROGRESS */
.progress-container {
    width: 100%;
    background-color: var(--bg-white);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 8px;
    display: block;
    z-index: 5;
    box-shadow: 3px 3px 10px 10px rgba(0,0,0,.11);
}
 
.progress-bar {
    background-color: var(--main-color);
    width: 0;
    display: block;
    z-index: 10;
    height: 8px;
}

/* RESPONSIVE BREAKPOINTS 320, 480 (horizontal - mobile), 760, 1024, 1200, 1600 */

/* @media screen and (min-width: 480px) and (max-width: 760px) {
    #home {
        grid-template-columns: 10% 40% 40% 10%;
        grid-template-rows: 13% 65% auto;
    }
    .home-text h1 {
        line-height: 7vw;
        text-align: left;
        font-weight: 400;
    }
    h1 .gradient-text {
        font-size: 7vw;
        font-weight: 700;
        line-height: 10%;
    }
    .home-text p {
        font-size: 3vw;
        text-align: left;
    }

    .home-text {
        grid-column: 2 / 3;
        grid-row: 2;
        top: 0;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #CTAhome {
        font-size: 3vw;
        top: 3vw;
    }
    .home-img {
        grid-column: 3 / 4;
        grid-row: 2;
        justify-content: flex-start;
    }
    .home-img img {
        max-height: 374px;
        margin-bottom: -30%;
    }
    .markets p {
        font-size: 3vw;
        text-align: left;
        display: block;
        color: #272221;
        font-weight: 500;
    }
    .markets img {
        height: 5vw;
        margin: 5% 0;
    }
    .markets-img {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 85%;
    }
    .markets {
        grid-column: 2 / 3;
        grid-row: 2;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        top: 20%;
        position: relative;
    }
    .social-networks {
        grid-column: 2 / 3;
        grid-row: 3;
        width: 80%;
        height: min-content;
        left: 0;
        top: 10%;
        flex-direction: row;
        justify-content: space-between;

    }
}

@media screen and (min-width: 761px) and (max-width: 1024px) {
    .maincontainer {
        padding: 0 20px;
        overflow: hidden;
    }
    header.menuDesktop {
        display: flex;
    }
    header.menuMobile {
        display: none;
    }
    .button-scroll {
        top: calc(100vh - 500px);
        display: block;
    }
    .language {
        right: 1vw;
    }
    .social-networks button img:hover {
        transform: scale(1.18);
        transition: all .2s ease-in;
    }

    .home-img img {
        margin-bottom: -10%;
    }

    #CTAhome {
        width: 45vw;
        font-size: 3vw;
    }
  }

  @media screen and (min-width: 1280px) {
    header.menuMobile {
        display: none;
    }
    header.menuDesktop {
        display: flex;
    }
} */