* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
:root {
    /* button fonts/default/5-warning font style 
    --button-font-size: 30px;
    --button-line-height: 14px;
    --button-text-align: center;
    --button-color: #f0ad4e;
    --button-letter-spacing: 0.2px;
    --button-font-style: normal;
    --button-font-weight: 400;
    --button-font-family: "Roboto";
    
    --button:  
        var(--button-font-style)
        var(--button-font-weight)
        var(--button-font-size)/
        var(--button-line-height)
        var(--button-font-family);
    }
    .warning {
      font:var(--button);
      color: var(--button-color);
      letter-spacing: var(--button-letter-spacing);
      text-align:var(--button-text-align);
    } */

    /* GENERAL SETTINGS */
:root {
    /* colors */
    --main-color: #E7181C;
    --color-secondary: #F07577;
    --color-secondary-lightestred: #F17477;
    --color-secondary-lighgray: rgba(231, 235, 240, 1);
    --gradient: linear-gradient(to right, #E7181C 66.4%, #F07577 96.78%); 
    --gradient-div: linear-gradient(45deg, #E7181C 35%, #F07577 90.78%);
    --bg-white: #FAFBFF;
    --bg-white-bigCard: rgba(245, 245, 245, 0.5);
    --color-black: #272221;

    /* shadows */
    --shadow1: -10px -10px 20px var(--bg-white);
    --shadow2: 5px 5px 20px rgba(166, 171, 189, 0.8);

    /* --neumorphic shadow, composed by the previously declared shadows*/
    --neumorphic:
        var(--shadow1),
        var(--shadow2);
}

body {
    /* position: relative; */
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-white);
}

html, body {
    /* default values for mobile */
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}

.background1 {
    width: 126vh;
    position: absolute;
    right: 0;
    opacity: 0.7;
    z-index: -1;
    object-fit: cover;
    object-position: 57vw 0;
}

.maincontainer {
    /* display: grid; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h2 {
    font-size: 1.4em;
    font-weight: 600;
}

h3 {
    font-size: 1em;
    font-weight: 500;
}

h4 {
    font-size: 1em;
    font-weight: 450;
}

strong {
    font-weight: 500;
}

/* LOGO */

.brand {
    display: block;
    width: min-content;
    height: min-content;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* NAV BAR DESKTOP*/

header.menuDesktop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    height: 7em;
    align-items: center;
    z-index: 10;
    transition: all 0.5s ease-in;
}

header .brand img {
    height: 15vw;
    max-height: 5.3em;
    padding-top: 0.8em;
}

/* class ready to inject with JS (classlist add scroll) */
header.reduced {
    background: rgba(0,0,0,.007);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}



/* NAV BAR */

.menuDesktop ul {
    display: flex;
    list-style: none;
    gap: 1em;
    align-items: center;
    margin: 0 20px;
    height: 50%;
    margin-left: 5%;
    width: 70%;
}

.menuDesktop ul li{
    width: 11em;
    text-align: center;
}

.menuDesktop ul li .navLink{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.08em;
}

.menuDesktop ul li .navLink:hover {
    /* font-size: 1.1em; */
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in;
}

.download {
    appearance: none;
    -webkit-appearance: none;
    width: 90%;
    padding: 0.2em 1.5em;
    font-family: 'Poppins';
    font-size: 1em;
    font-weight: 500;
    border-radius: 0.5em;
    color: var(--bg-white);
    background-image: var(--gradient); 
    cursor: pointer;
    border: none;
}

.download:hover {
    background: var(--bg-white);
    box-shadow: -10px -10px 20px var(--bg-white), 5px 5px 20px rgba(166, 171, 189, 0.8);
    color: var(--main-color);
    transition: all 0.2s ease;
}

.download .active {
    background: var(--bg-white);
    box-shadow: -10px -10px 20px var(--bg-white), 5px 5px 20px rgba(166, 171, 189, 0.8);
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    transition: all 0.2s ease;
    border: 1px solid var(--main-color);
}

.activelinks { 
    /* añadir posteriormente en js la clase cuando este activo, addeventlistener click */
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
    transition: border-bottom 0.3s ease-in;
}

.activelinks a {
    color:var(--main-color);
}

/* HAMBURGER NAV FOR MOBILE DEVICES */

header.menuMobile {
	display: flex;
    justify-content: space-between;
    align-items: center;
	position: fixed;
    left: 0;
	z-index: 10;
    width: 100vw;
	height: 7%;
    /* max-height: 3.1em; */
    padding: 0.6em;
}

.hamburger {
    width: 100vw;
    height: fit-content;
    padding-top: 3em;
    position: fixed;
    left: 0;
    top: 0;
    color: var(--main-color);
    background-color: var(--bg-white);
    box-shadow: var(--shadow2);
    border-radius: 0 0 1em 1em;
    z-index: -1;
}  

header.menuMobile .brandName p {
    font-size: 1.3em;
    font-weight: 700;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

.open {
	display: flex;
    flex-direction: column;
    width: 3.12em;
	height: max-content;
	padding: 3px 0;
    background-color: transparent;
    cursor: pointer;
}

.open span.bar {
	display: block;
	height: 0.18em;
	width: 1.5em;
	text-align: center;
    border-radius: 1em;
	background-color: var(--main-color);
	margin: 2px auto;
}

.open .bar.close:nth-child(1){
    transform: rotate(-45deg) translateY(5px) translateX(-5.8px);
    background-color: var(--main-color);
}

.open .bar.close:nth-child(2){
    transform: rotate(45deg);
    background-color: var(--main-color);
}

.open .bar.close:nth-child(3){
    opacity: 0;
}

.hamburger .navMenu {
	display: block;
    width: 100%;
}

.hamburger .navMenu li {
    width: 100%;
    padding: 0.7em 1em;
    border-bottom: 1px solid var(--color-secondary-lighgray);
    border-radius: 1em;
    list-style: none;
}

.hamburger .navMenu li:last-child {
    border-bottom: none;
}

.hamburger .navLink:not(:first-child) {
	margin-top: 2.5em;
}

.hamburger .navLink {
    width: 100%;
	color: var(--color-secondary);
	font-size: 1em;
    font-weight: 500;
    text-decoration: none;
	transition: all .5s ease;
}

.hamburger .navMenu .navLink.activelinksNav {
	color: var(--main-color);
}

/* REVISAR ESTA REGLA
.desplegado {
	display: flex;
} */

.blur {
	filter: blur(4px);
}

/* LANGUAGE SETTINGS */

.language {
    padding: 5px 15px;
    position: fixed;
    right: 38px;
    top: 10px;
    font-family: 'Poppins';
    font-size: 0.7em;
    font-weight: 300;
    border-radius: 16px;
    color: var(--main-color);
    background: var(--bg-white);
    cursor: pointer;
    border: 1px solid var(--main-color);
}

.language:hover {
    box-shadow: -10px -10px 20px var(--bg-white), 5px 5px 20px rgba(166, 171, 189, 0.8);
    /* background: linear-gradient(to right, #E7181C 66.4%, #F07577 96.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    transition: all 0.2s ease-in;
    border: none;
}

/* BUTTON TO SCROLL */

.button-scroll {
    display: none;
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    position: fixed;
    right: 20px;
    top: calc(100vh - 320px);
    cursor: pointer;
}

/* Arrow indicator to scroll down */

.arrowDiv {
    position: absolute;
    bottom: 3%;
    z-index: 5;
}

.arrowIcon {
    opacity: 0;
    position: absolute;
        left: 50%;
        top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrowIcon:first-child {
    animation: arrow-movement 2s ease-in-out infinite;
}
.arrowIcon:last-child {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrowIcon:before,
.arrowIcon:after {
    background: var(--main-color);
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
        top: 0;
        left: 0;
    width: 1.8em;
}

.arrowIcon:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrowIcon:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

/* Animation */
@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 45%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}


/* Default settings for SECTION */
section {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

/* First, the general values for all the sections in the document */

/* Section #1 -> HOME */
.home {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 20% 65% 15%;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 1;
    position: relative;
    top: 32%;
}

.home-text h1 {
    position: relative;
    line-height: 4vh;
    text-align: center;
    z-index: 1;
}

h1 .gradient-text {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10vw;
    
}

section p {
    width: 100%;
    /* font-size: 5vw; */
    font-size: 1em;
    color: var(--color-secondary);
    text-align: center;
}

/* .home-text p,h1{
    grid-column: 2 / 3;
    grid-row: 1;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 10%;
    align-content: space-between;
    align-items: center; /* added this to align text, image and button
} */

.home-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-column: 2 / 3;
    position: relative;
    bottom: 0;
}

.home-img img {
    height: 100%;
    margin-bottom: -20%;
    position: relative;
    /* positioning the img element without breaking the normal flow */
    left: 25%;
    z-index: 1;
}
.markets {
    display: flex;
    justify-content: center;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}

.markets-img {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    padding: 7% 5%;
}

.markets img {
    /* box-shadow: -10px -10px 20px var(--bg-white), 5px 5px 20px rgba(166, 171, 189, 0.8); */
    filter: drop-shadow(2px 4px 10px rgba(166, 171, 189, 0.8));
    height: 10vw; /* TODO ADD MEDIA QUERY BP FOR THIS */
    max-width: 7.5em;
    border-radius: 0.5em;
}

.markets p {
    display: none;
}

#CTAhome {
    box-shadow: -10px -10px 20px var(--bg-white), 5px 5px 20px rgba(166, 171, 189, 0.8);
    position: relative;
    /* width: 35vw;
    max-width: 40vw; */
    font-size: 5vw;
    z-index: 2;
}

.social-networks {
    display: flex;
    grid-column: 1;
    grid-row: 2 / 3;
    /* height: initial -> 280px / After -> auto, cause fits better with its grid cell*/
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    left: 60%;}

.social-networks button {
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    cursor: pointer;
}

.social-networks button img {
    width: 8vw;     /* TO DO, CHECK THIS IN MQ */
    max-width: 36px;
}

/* Section #2 -> PROPOSAL */

.cardsContainer {
    display: grid;
    grid-template-columns: 50% 50%;    
    width: 95vw;
    height: auto;
    padding: 3%;
    background: var(--bg-white-bigCard);
    background-blend-mode: luminosity;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border-radius: 46px 0 0 46px;
    position: relative;
    left: 3%;
    margin-bottom: 10%;
    box-shadow: var(--shadow2);
}

.cardsContainerColumn1 {
    grid-column: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 3%;
} 

.cardsContainerColumn1 img {
    width: 38vw;    
    position: relative;
    bottom: -5%;
}

.cardsContainerColumn2 {
    position: absolute;
    grid-column: 2;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.cardFeature {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--bg-white);
    box-shadow: var(--neumorphic);
    padding: 5% 7%;
    border-radius: 16px;
}

.cardFeature img {
    width: 1.3em;
    height: auto;
}

.cardFeature .flippable {
    width: 0.5em;
    align-self: center;
    margin-top: 3%;
    transition: transform 0.5s ease;
}

.featureTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.featureDescription {
    font-size: 0.8em;
    display: none;
}

/* Proposal Part II --> slider */

.sliderContainer {
    display: flex;
    height: 25em;
    margin-top: 20%;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
}

.titleSliderContainer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    gap: 3%;
}

.titleSliderContainer img {
    z-index: 3;
    position: relative;
    top: -15%;
}

.sliderProposal {
    width: 90%;
    height: 15em;
    overflow: hidden;
    padding: 3%;
    margin-top: -30%;
    position: relative;
    top: -2.3em;
    background: var(--bg-white-bigCard);
    background-blend-mode: luminosity;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border-radius: 1.3em;
    box-shadow: var(--neumorphic);
}

/* #proposal {
    height: 130vh; /* override */
    /* margin-bottom: 6em; 
}  */

.slide {
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform, 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.buttonSlider button {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    border: none;
    background: none;
    height: 0.9vw;
}

.slide p {
    padding-top: 1em;
    font-size: 0.85em;
    color: var(--color-black);
    width: 90%;
}

#prev {
    left: 0;
    top: 35%;
    transform: rotate(90deg);
}

#next {
    right: 7px; 
    /* Horizontal alignment better with px, it must be an absolute measure */
    top: 35%;
    transform: rotate(-90deg);
}

.slide h4 {
    width: 90%;
    text-align: center;
}


.buttonSlider {
    position: relative;
    width: 90%;
    top: -3em;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
}

.breadcrumbsDiv {
    display: flex;
}

.breadcrumb {
    border-radius: 50%;
    width: 0.4em;
    height: 0.4em;
    background-color: var(--color-black);
    cursor: pointer;
    margin-right: 15px;
}

.breadcrumb:last-child {
    margin-right: 0;
}

.breadcrumb.active {
	background-color: var(--main-color);
	width: 1.2em;
	border-radius: 0.8em;
	transition: width, 2s, ease-in;
}

#proposal .background1 {
    transform: scaleX(-1);
    object-fit: cover;
    object-position: -50vw -43vw;
    width: 206vw;
    position: absolute;
    top: 147vh;
    opacity: 0.3;
}

/* Section #3 -> RIGHT NOW */

.rightNow {
    width: 90%;
    height: 30em;
    background-color: var(--bg-white);
    border-radius: 1em;
    background-blend-mode: luminosity;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border: 1px solid var(--main-color);
    padding-top: 3%;
    overflow: hidden;
}

.titleRightNow {
    width: 100%;
    text-align: center;
    color: var(--color-black);
}

.sliderRightNow {
    margin-top: 10%;
    height: 30%;
    overflow: hidden;
    position: relative;
}

.sliderWrap {
    display: flex;
    height: 100%;
    width: calc(55% * 6);
}

.sliderCardRightNow {
    display: flex;
    width: 55%;
    height: 100%;
    overflow: hidden;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 0.5em;
    position: relative;
    box-shadow: var(--neumorphic);
    margin-right: 2%;
}

.sliderCardRightNow img.news {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    filter: brightness(0.8);
}

.sliderCardRightNow h5 {
    color: var(--bg-white);
    width: 100%;
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
    line-height: 1.2em;
    z-index: 3;
    background: linear-gradient(to top, var(--color-black) 25%, rgba(0, 0, 0, 0));
    padding: 0.5em;
}

.sliderCardTime {
    position: absolute;
    display: flex;
    top: 25%;
    align-items: center;
    background-color: var(--bg-white);
    border-radius: 0.7em;
    padding: 0 3%;
}

.sliderCardTime img {
    width: 40%;
    height: 40%;
    position: static;
}

.sliderCardTime p {
    font-size: 0.7em;
}

/* Section #4 -> ABOUT */

.about {
    display: flex;
    flex-direction: column;
}

.aboutUs {
    width: 100%;
    background-image: var(--gradient-div);
    border-radius: 1em 1em 0 0;
    padding: 3% 5% 0 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aboutUs h2 {
    text-align: center;
    color: var(--bg-white);
    margin-bottom: 5%;
}

.aboutUs .contentAbout {
    color: var(--bg-white);
    text-align: center;
}

.contentAbout p {
    color: var(--bg-white);
}

.contentAbout h4 {
    padding: 3% 5%;
}


/* FAQS microsection, inside ABOUT */

.faqsIntroduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary);
    margin-top: 10%;
    padding-bottom: 2%;
    position: relative;
    bottom: -1%;
    background-color: var(--bg-white);
    border-radius: 1em 1em 0 0;
}

.faqCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2em;
    margin-top: -0.9em;
    border: 1px solid var(--main-color);
    border-top: none;
    border-radius: 0 0 1em 1em;
}

.faqsIntroduction h3 {
    position: relative;
    top: -0.1em;
    background-color: var(--main-color);
    color: var(--bg-white);
    padding: 3% 10%;
    border-radius: 0 0 1em 1em;
}

.faqCard h5 {
    padding-top: 0.5em;
    text-align: center;
}

.faqCard p {
    padding-top: 2%;
    color: var(--color-black);
}

.faqCard .flippable {
    width: 0.5em;
    align-self: center;
    margin-top: 3%;
    transition: transform 0.5s ease;
}

.answerFaq {
    display: none;
    font-size: 0.8em;
}

/* SUBSCRIBE microsection, inside ABOUT */

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 2em 0;
}

.subscribeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    height: 10%;
    margin-top: 5%;
}

.formContent {
    width: 90%;
    height: 2em;
    margin-top: 2em;
    box-shadow: var(--neumorphic);
    border-radius: 3em;
    overflow: hidden;
}

.subscription {
    position: relative;
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* display: flex; */
    /* flex-direction: row-reverse; */
    border-radius: 3em;
}

.subscription .add-email{
    position: absolute;
    top: 0;
    left: 0;
    /* display: block; */
    /* change display in JS */
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 1.2em;
    font-size: 0.9em;
}

.subscription .submit-email {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 0.08em);
    width: 35%;
    border: none;
    border-radius: 3em;
    outline: none;
    margin: 0.02em;
    padding: 0 1.2em;
    cursor: pointer;
    background: var(--color-secondary);
    color: var(--bg-white);
    transition: width 0.35s ease-in-out, background 0.35s ease-in-out;
  }

.subscription.done .submit-email {
    width: calc(100% - 0.08em);
    background-image: var(--gradient-div);
}
  
.subscription .submit-email .before-submit,
.subscription .submit-email .after-submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 2.2em;
  transition: display .35s ease-in-out,
    opacity .35s ease-in-out;
}

.subscription.done .submit-email .before-submit,
.subscription:not(.done) .submit-email .after-submit {
  display: none;
  opacity: 0;
}

.subscription .submit-email .after-submit {
    transition-delay: .35s;
}
  
.subscription:not(.done) .submit-email .before-submit, .subscription.done .submit-email .after-submit {
    display: block;
    opacity: 1;
}

/* FOOTER */
footer {
    position: absolute;
    width: 100vw;
    height: auto;
    padding: 5%;
    /* background-color: var(--color-secondary-lightestred); */
    border-radius: 1em 1em 0 0;
    border-top: 1px solid var(--color-secondary-lighgray);
    box-shadow: var(--shadow2);
}

footer .brand {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer .brand h2 {
    font-size: 2em;
    margin-right: 12%;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.brand .social-networks {
    flex-direction: row;
    width: 100%;
    position: static;
}

footer .social-networks button img {
    width: 5vw;     /* TO DO, CHECK THIS IN MQ */
}

/* :hover on desktop */
.social-networks button img:active {
    width: 1.6em;     /* TO DO, CHECK THIS IN MQ */
    transition: all 0.3s ease;
}

.footercontent {
    font-size: 0.9em;
    padding-bottom: 2em;
    text-align: center;
}

.footerText {
    padding: 1em;
}

.footerTextLegal {
    font-weight: 300;
}

/* :hover pseudoselector only on desktop devices breakpoints */
.footerTextLegal p:active {
    color: var(--color-secondary);
}

/* SCROLL PROGRESS */
.progress-container {
    width: 100%;
    background-color: var(--bg-white);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 8px;
    display: block;
    z-index: 5;
    box-shadow: 3px 3px 10px 10px rgba(0,0,0,.11);
}
 
.progress-bar {
    background-color: var(--main-color);
    width: 0;
    display: block;
    z-index: 10;
    height: 8px;
}

/* RESPONSIVE BREAKPOINTS 320, 480 (horizontal - mobile), 760, 1024, 1200, 1600 */

/*// 320 - 480 -> mobile*/
/*// 481 - 768 -> tablets*/
/*// 769 - 960 -> laptop small*/
/*// 961 - 1200 -> desktop large screen*/
/*// 1201 - 1600 -> XL*/
/*// >= 1601 -> 4K*/

/* A MQ for the menu, the rest of setting will be written in its respective MQ*/
@media screen and (min-width: 961px) {

    h2 {
        font-size: 2.5em;
    }

    h3, .faqsIntroduction h3 {
        font-size: 2em;
    }
    
    h4 {
        font-size: 1.8em;
    }

    h5, .faqCard h5 {
        font-size: 1.5em;
        font-weight: 500;
    }

    p, section p, p.featureDescription, .sliderCardTime p, .contentAbout p, .faqCard p, .subscription .add-email, .submit-email {
        font-size: 1.3em;
    }

    header.menuDesktop {
        display: flex;
    }
    header.menuMobile {
        display: none;
    }

    .brand p {
        font-size: 1.5em;
    }

    .maincontainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .button-scroll {
        top: calc(100vh - 45em);        
        display: block;
        z-index: 10;
    }

    .language {
        right: 1vw;
    }

    .background1 {
        width: 114vw;
        height: 150vh;
        object-position: 60% 0;
    }

    .home {
        grid-template-columns: 12% 40% auto;
        grid-template-rows: 15% 45% 40%;
    }

    .social-networks {
        height: 70%;
        left: 0;
        top: 7%;
    }

    .social-networks button img:hover {
        transform: scale(1.18);
        transition: all .2s ease-in;
    }

    .home-text {
        justify-content: flex-start;
        grid-column: 2 / 3;
        grid-row: 2;
        position: static;
        padding-top: 15%;
    }

    .home-text h1 {
        font-size: 4vw;
        font-weight: 400;
        color: var(--color-secondary);
        line-height: 6vh;
        text-align: start;
    }

    .home-text h1 .gradient-text {
        font-size: 6vw;
        font-weight: 700;
    }

    .home p {
        font-size: 4vw;
        text-align: start;
    }

    .home-img {
        display: block;
        grid-column: 3;
        grid-row: 1 / 4;
    }

    .home-img img {
        height: 78%;
        left: -8%;
        top: 14%;
        margin-bottom: 0;
    }

    .markets {
        grid-column: 2;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1em;
    }

    .markets p.available {
        display: block;
        font-size: 3vw;
        font-weight: 600;
        color: var(--main-color);
        background-color: var(--bg-white-bigCard);
        box-shadow: var(--shadow2);
        border-radius: 0.4em;
        padding: 0 0.4em;
    }

    .markets-img {
        height: 10em;
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
    }

    .markets img {
        max-width: 10em;
    }

    #CTAhome {
        width: 45vw;
        font-size: 3vw;
    }

    .home-img .download {
        display: none;
    }

    .download {
        width: auto;
    }

    .proposal {
        display: block;
        margin-bottom: 12%;
    }

    .featureTitle h3 {
        font-size: 1.5em;
    }

    .cardFeature img {
        width: 2.3em;
        height: auto;
    }
    
    .sliderContainer {
        height: fit-content;
        flex-direction: row;
        justify-content: space-between;
    }

    .breadcrumb {
        width: 0.5em;
        height: 0.5em;
    }

    .breadcrumb.active {
        width: 1.8em;
    }

    .titleSliderContainer {
        width: 100%;
        grid-column: 1 / 3;
    }

    .titleSliderContainer h2 {
        position: absolute;
        top: -15%;
        right: 6%;
    }

    .titleSliderContainer img {
        height: 50vw;
        position: relative;
        top: -15%;
        z-index: 3;
    }

    .sliderAndButtons {
        width: 100%;
        height: 16em;
    }

    .sliderProposal {
        height: 21em;
        margin-top: 0;
    }

    .buttonSlider {
        top: 0;
    }

    .slide p {
        font-size: 1.2em;
    }

    .rightNow {
        height: 71em;
    }

    .sliderCardRightNow h5 {
        font-size: 1.4em;
        padding: 1em;
    }

    .faqCard .flippable {
        width: 0.9em;
    }

    .formContent {
        height: 3.7em;
    }
    
    footer {
        border-radius: 2em 2em 0 0;
    }

    .brand .social-networks {
        width: 50%;
    }

    .footercontent {
        padding-bottom: 0;
    }

    footer .brand h2 {
        font-size: 2.5em;
    }

    .footerText {
        padding: 1em;
        border-bottom: 1px solid var(--color-secondary-lighgray);
    }


    .footerTextLegal {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding-top: 1em;
    }

    .footerTextLegal p:hover {
        color: var(--color-secondary);
    }
    
}



/* iPad/Tablet & small laptops */
@media screen and (min-width: 481px) and (max-width: 960px) {
    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.8em;
    }

    h4 {
        width: 90%;
        font-size: 1.5em;
    }

    h5 {
        font-size: 1.3em;
    }

    header.menuMobile {
        padding: 2.2em;
    }

    header.menuMobile .brandName p {
        font-size: 1.6em;
    }

    /* .home {
        grid-template-columns: 10% 40% 40% 10%;
        grid-template-rows: 13% 65% auto;
    } */

    #CTAhome {
        font-size: 4vw;
        top: 5vw;
        width: 80%;
    }

    .markets img {
        max-width: 13em;
    }

    .home-text h1 {
        line-height: 7vw;
    }

    .home-img img {
        margin-bottom: -15%;
        height: 50em;
    }

    .social-networks button img {
        max-width: 45px;
    }

    .featureTitle img {
        width: 2em;
    }

    .sliderContainer {
        height: 54em;
    }

    .sliderProposal {
        height: 22em;
        top: -8.3em;
    }

    .buttonSlider {
        top: -8em;
        padding: 5%;
    }

    .breadcrumb {
        width: 0.8em;
        height: 0.8em;
    }

    .breadcrumb.active {
        width: 2em;
    }

    .titleSliderContainer img {
        width: 26em;
        top: -20%;
    }

    .sliderCardRightNow h5 {
        font-size: 1.3em;
        padding: 1em;
    }

    .faqCard .flippable, .cardFeature .flippable {
        width: 1.2em;
    }

    .sliderCardTime p {
        font-size: 1.15em;
    }

    .sliderCardTime img {
        width: 2em;
    }

    .home-text p, .subscription .add-email, .formContainer p, .slide p, p.featureDescription, .answerFaq, .contentAbout p {
        font-size: 1.3em;
    }

    .rightNow {
        height: 60em;
    }

    .aboutUs {
        border-radius: 4em 4em 0 0;
        margin-top: 15%;
    }

    .formContent {
        height: 4em;
    }

    .subscription .submit-email .before-submit {
        line-height: 2.3em;
        font-size: 2em;
    }

    footer .brand h2 {
        font-size: 4em;
    }

    .footerText {
        padding: 2em;
    }

    footer p {
        font-size: 1.3em;
        opacity: 0.7;
    }
}

/* tablets only */
@media screen and (min-width: 768px) and (max-width: 960px) {
    .open span.bar {
        height: 0.4em;
        width: 2.5em;
    }

    .hamburger .navMenu {
        padding-top: 1em;
    }

    .hamburger .navMenu li {
        width: 100%;
        padding: 2.2em 3em;
    }

    .hamburger .navLink {
        font-size: 1.2em;
    }

    .home-img img {
        height: 97%;
    }

    #proposal .background1 {
        object-position: -76vw -29vw;
        width: 250vw;
    }

}


/* @media screen and (min-width: 961px) {
    .maincontainer {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        overflow: hidden;
    }
     .maincontainer img:first-child {
         top: 0; 
    } 
    .button-scroll {
        top: calc(100vh - 500px);
        display: block;
    }
    .language {
        right: 1vw;
    }
    .social-networks {
        left: 0;
    }
    .social-networks button img:hover {
        transform: scale(1.18);
        transition: all .2s ease-in;
    }

    #CTAhome {
        width: 45vw;
        font-size: 3vw;
    }

    .proposal {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

  } */

/* @media screen and (min-width: 480px) and (max-width: 760px) {
    #home {
        grid-template-columns: 10% 40% 40% 10%;
        grid-template-rows: 13% 65% auto;
    }
    .home-text h1 {
        line-height: 7vw;
        text-align: left;
        font-weight: 400;
    }
    h1 .gradient-text {
        font-size: 7vw;
        font-weight: 700;
        line-height: 10%;
    }
    .home-text p {
        font-size: 3vw;
        text-align: left;
    }
    .home-text {
        grid-column: 2 / 3;
        grid-row: 2;
        top: 0;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #CTAhome {
        font-size: 3vw;
        top: 3vw;
    }
    .home-img {
        grid-column: 3 / 4;
        grid-row: 2;
        justify-content: flex-start;
    }
    .home-img img {
        max-height: 374px;
        margin-bottom: -30%;
    }
    .markets p {
        font-size: 3vw;
        text-align: left;
        display: block;
        color: #272221;
        font-weight: 500;
    }
    .markets img {
        height: 5vw;
        margin: 5% 0;
    }
    .markets-img {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 85%;
    }
    .markets {
        grid-column: 2 / 3;
        grid-row: 2;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        top: 20%;
        position: relative;
    }
    .social-networks {
        grid-column: 2 / 3;
        grid-row: 3;
        width: 80%;
        height: min-content;
        left: 0;
        top: 10%;
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (min-width: 761px) and (max-width: 1024px) {
    .maincontainer {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        overflow: hidden;
    }
    header.menuDesktop {
        display: flex;
    }
    header.menuMobile {
        display: none;
    }
     .maincontainer img:first-child {
        /* top: 0; 
    } 
    .button-scroll {
        top: calc(100vh - 500px);
        display: block;
    }
    .language {
        right: 1vw;
    }
    .social-networks button img:hover {
        transform: scale(1.18);
        transition: all .2s ease-in;
    }
    .home-img img {
        margin-bottom: -10%;
    }
    #CTAhome {
        width: 45vw;
        font-size: 3vw;
    }
  }
  @media screen and (min-width: 1280px) {
    header.menuMobile {
        display: none;
    }
    header.menuDesktop {
        display: flex;
    }
} 